<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="ui/templates/index.css" />
    <title>Table Query</title>
</head>
<body>
    <div id="query-table">
        {{ query.table_html }}
    </div>
    <iframe width="1000" height="400" id="neighbour-table"></iframe>

    {% for item in neighbours.content_list %}
        <textarea class="hidden" id="{{ item['fname'] }}">{{ item['content'] }}</textarea>
    {% endfor %}
    
    <script type="text/javascript" src="ui/templates/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="ui/templates/index.js"></script>
</body>
</html>