<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="ui/templates/css/index.css" />
    <link rel="stylesheet" href="ui/templates/css/bootstrap.min.css" />
    <title>Table Query</title>
</head>
<body>
    <div class="loading">Loading&#8230;</div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <span class="navbar-brand mb-0 h1">Query table</span>
                            <form class="form-inline" method="POST" action="/" id="tableQueryForm">
                                <div class="form-group mb-2">
                                    <select class="form-control" id="queryTableIdx" name="queryTableIdx"
                                    >
                                    <!-- onchange="this.form.submit()" -->
                                        {% for item in tables.table_list %}
                                            <option 
                                                value="{{ loop.index0 }}"
                                                {% if loop.index0 == tables.cur_table_index %}
                                                    selected class="sel-option"
                                                {% endif %}
                                            >
                                                {{ item[0] }}--{{ item[1] }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <!-- <button type="submit" class="btn btn-primary mb-2">Search</button> -->
                            </form>
                        </div>
                    </div>
                </nav>
                <div id="query-table" class="top-gap">
                    {{ query.table_html }}
                </div>
            </div>
            <div class="col-sm">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <span class="navbar-brand mb-0 h1">Result table</span>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-primary" id="prev-table">Previous</button>
                                <button type="button" class="btn btn-primary" id="next-table">Next</button>
                            </div>
                        </div>
                    </div>
                </nav>
                <div id="frame-container" class="top-gap"></div>
            </div>
        </div>
    </div>

    {% for item in neighbours.content_list %}
        <textarea class="hidden" id="{{ item['fname'] }}">{{ item['content'] }}</textarea>
    {% endfor %}
    
    <script type="text/javascript">
        const neighbourFnames = {{ neighbours.fnames }};
        const rowSimMap = {{ query.row_sim_map }};
        const tableList = {{ tables.table_list }};
        const curTableIndex = {{ tables.cur_table_index }};
    </script>

    <script type="text/javascript" src="ui/templates/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="ui/templates/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="ui/templates/js/index.js"></script>
</body>
</html>