{{ table.style }}

<link rel="stylesheet" type="text/css" href="ui/templates/css/table.css">
<link rel="stylesheet" href="ui/templates/css/bootstrap.min.css" />

<p>
	<h5>
		<span class="badge badge-secondary">{{ table.class_str }}</span>
		<span class="badge badge-info">{{ table.company }}</span>
		<span class="badge badge-warning">{{ table.orig_company }}</span>
		<span class="badge badge-success">{{ table.distance }}</span>
	</h5>
</p>
{{ table.content }}

{% if table.script %}
	<!-- script type="text/javascript" src="ui/templates/js/jquery-3.3.1.min.js"></script -->
	<script type="text/javascript" src="ui/templates/js/table-control.js"></script>
{% endif %}
