
.hidden {
	display: none;
}

tr:hover {
	background: rgb(240, 95, 95) !important;
	border: 2px solid rgb(88, 24, 24) !important;
}

tr.highlight-selected:hover {
	background: rgb(241, 158, 2) !important;
	border: 2px solid rgb(109, 42, 17) !important;
}

tr:hover, tr:hover td, tr:hover p {
	background: rgb(240, 95, 95) !important;
}

tr.highlight-selected:hover, tr.highlight-selected:hover td, tr.highlight-selected:hover p {
	background: rgb(241, 158, 2) !important;
}

.top-gap {
	margin-top: 20px;
}
