
.highlight-selected {
	background: rgb(240, 236, 17) !important;
	border: 2px solid rgb(78, 65, 9) !important;
}

.highlight-selected td, .highlight-selected p {
	background: rgb(240, 236, 17) !important;
}

.highlight2-selected {
	background: rgb(235, 233, 158) !important;
	border: 2px solid rgb(109, 103, 76) !important;
}

.highlight2-selected td, .highlight2-selected p {
	background: rgb(235, 233, 158) !important;
}


